@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

:root {
  font-family: "Courier Prime", monospace;
  --background: #333333;
  --white: #f2f2f2;
  display: flex;
}

.devistListContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

}

.deviceContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
}

.deviceName {
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  width: max-content;
}

.deviceDetails {
  color: var(--white);
  font-weight: inherit;
  font-size: 14px;
  width: max-content;
}

.buttonContainer {
  width: -webkit-fill-available;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.bindButton {
  border-color: var(--background);
  border-radius: 0%;
  background-color: var(--white);
  color: var(--background);
  font-weight: bold;
  font-size: 12px;
}

.unbindButton {
  border-color: var(--white);
  border-radius: 0%;
  background-color: var(--background);
  color: var(--white);
  font-weight: bold;
  font-size: 12px;
}
