@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

:root {
  font-family: "Courier Prime", monospace;
  --background: #333333;
  --white: #f2f2f2;
  display: flex;
}

main {
  width: 60%;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  /* width: 100%;
  max-width: 800px; */
  border: 1px solid #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: inherit;
  flex-direction: column;
  padding-bottom: 20px;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}

h4 {
  font-weight: inherit;
  font-size: 14px;
  text-align: center;
  color: var(--white);
}

.pageTitleContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* padding-top: 8px; */
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  margin-bottom: 84px;
  padding: 8px;
}

.runButtonContainer {
  display: flex;
  align-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.runButton {
  border-radius: 0%;
  border-color: var(--white);
}
